<% if object.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(object.errors.count, "t('error.msg')") %>
      :: <%= t 'error.nosave' %>
      <%= object.class.to_s.underscore.humanize.downcase %>
    </h2>
    <p><%= t ('error.field') %></p>
      <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  </div>
<% end %>
