<div>
  <h2 align="center"><%= @site.name %></h2>
  <nav align="right">
    <% doc       = @record.doc.url if @record.doc %>
    <% if @site.used? :doc %>
      <%= link_to 'flyer', doc,         :class => "quiet" %> |
    <% end %>
    <%= link_to @site.name, @site,  :class => "quiet" %>
  </nav>
  <% if @site.used? :photo %>
    <%= image_tag @record.photo.url(:medium) %>
  <% end %>
  
  <table>
    <% @fields.each do |p| %>
      <tr><td><b><%= @site[p] %>:</b></td><td><%= @record[p] %></td></tr>
    <% end %>
  </table>
</div>
