<%= form_for(@record, :html => {:multipart => true}) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.hidden_field  :site_id, :value => @site.id %>
  <table>
    <% @vars = @site.used_vars %>
    <% @vars.each do |at| %>
      <tr><td><%= @site[at] %></td><td><%= f.text_field at %></td></tr>
    <% end %>
    <% @comments = @site.used_comments %>
    <% @comments.each do |at| %>
      <tr><td><%= @site[at] %></td><td><%= f.text_field at %></td></tr>
    <% end %>
    <% @photos = @site.used_photos %>
    <% @photos.each do |at| %>
      <tr><td><%= @site[at] %></td><td><%= f.file_field at %></td></tr>
    <% end %>
    <% @docs = @site.used_docs %>
    <% @docs.each do |at| %>
      <tr><td><%= @site[at] %></td><td><%= f.file_field at %></td></tr>
    <% end %>
  </table>
  </div>

  <div class="actions">
    <%= f.submit 'Update' %><br />
  </div>

<% end %>
