<%= form_for(@site) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.hidden_field :name,   :value => "none" %>
    <%= f.hidden_field :photo,  :value => "none" %>
    <%= f.hidden_field :photo2, :value => "none" %>
    <%= f.hidden_field :photo3, :value => "none" %>
    <%= f.hidden_field :doc,    :value => "none" %>
    <%= f.hidden_field :p6,     :value => "none" %>
    <%= f.hidden_field :p7,     :value => "none" %>
    <%= f.hidden_field :p8,     :value => "none" %>
    <%= f.hidden_field :p9,     :value => "none" %>
    <%= f.hidden_field :p10,    :value => "none" %>
    <%= f.hidden_field :p11,    :value => "none" %>
    <%= f.hidden_field :p12,    :value => "none" %>
  </div>
  <div class="actions">
    <%= f.submit 'Save Layout'%>
  </div>
<% end %>
