<H3><%= @site.name %></H3>  
<!-- Add nav bar -->
<nav align="right">
  <%= link_to "Add Entry", { :controller => "records", :action => "new", 
    :site_id => @site}, :class => "quiet" %>
   
</nav>

<!-- Search Form -->
<table>
  <caption><%= @site.name %></caption>
  <tr>
    <th></th>
    <% @site.used_vars.each do |at| %>
      <th><%= @site[at] %></th>  
    <% end %>
  </tr>
  <%= form_tag site_path(@site), :method => 'get' do %>
    <tr>
      <td><%= submit_tag "Search", :name => nil %></td>
      <% @site.used_vars.each do |at| %>
        <td><%= text_field_tag at, nil, :class => "search",
          :placeholder => "Enter #{@site[at]}" %></td>  
      <% end %>
    </tr>
  <% end %>


  <!-- Search Results -->
  <% @count = 1 %>
  <% @records.each do |r| %>
    <tr>
      <td><%= @count %></td>
      <% @site.used_vars.each do |f| %>
        <td><%= link_to r[f], r, :class => "quiet" %></td> 
      <% end %>
      <% @count += 1 %>
    </tr>
  <% end %>
</table>
