<p id="notice"><%= notice %></p>


<H3><%= @site.name %></H3>  

<% @fields = @positions - %w{name photo photo2 photo3 doc comment} %>
<table>
  <caption><%= @site.name %> Found</caption>
  <tr>
  <% @fields.each do |f| %>
    <th><%= @site[f] %></th>  
  <% end %>
  </tr>

  <% @records.each do |r| %>
    <tr>
      <% @fields.each do |f| %>
        <td><%= r[f] %></td>  
      <% end %>
    </tr>
  <% end %>
</table>
